body {
    margin: 0;
    padding: 0;
    font-family: 'Coiny', cursive;
    background: #34495e;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    width: 300px;
    padding: 40px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
}

.main p {
    color: white;
    font-weight: 500;
}

#longurl,
#shorturl {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    font-size: 16px;
    border-radius: 24px;
    transition: 0.25s;
}

#longurl:focus,
#shorturl:focus {
    width: 280px;
    border-color: #2ecc71;
}

#shorten {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 25px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    font-size: 17px;
    font-family: 'Libre Baskerville', serif;
}

#shorten:hover {
    background: #2ecc71;
}

#copy {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 25px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    font-size: 17px;
    font-family: 'Libre Baskerville', serif;
}

#copy:hover {
    background: #2ecc71;
}
